/* width */
.scrollbox::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .scrollbox::-webkit-scrollbar-track {
    background: black;
    margin: 10px;
    padding: 10px;
  }
  
  /* Handle */
  .scrollbox::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  /* Handle on hover */
  .scrollbox::-webkit-scrollbar-thumb:hover {
    background: #adadad;
  }
  
  body {
      margin: auto;
      color: rgb(18, 18, 18);
    }
     
  
    
    section {
      margin-bottom: 60px;
      padding-top: 20px;
      padding-bottom: 40px;
      justify-content: space-between;
    }
    
    em {
      font-family: "ivypresto-headline", serif;
      font-weight: 300;
      font-style: italic;
      font-size: 28px; 
      margin: 0;
      padding: 0;
    }
    
    b {
      font-family: "ivypresto-display", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 20px; 
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      /* background-color: white; */
      background: rgb(92,96,122);
    
      /* color: rgb(10, 10, 14); */
      color: white;
      border-radius: 3px;
    
    }
    
    
    .subtitle {
      width: 440px;
      font-size: 20px;
      font-style: italic;
      font-weight: 300;
      font-family: "richmond-display", 'Times New Roman', serif;
      margin: 0;
      padding: 0;
      text-align: left; /* Adjust alignment as needed */
    }
  
    ul{
      width: 60%;
      align-self: center;
    }
  
    li {
  
      font-size: 14pt;
      font-style: italic;
      font-weight: 300;
      font-family: "richmond-display", 'Times New Roman', serif;
      margin: 0;
      padding: 0;
      text-align: left; /* Adjust alignment as needed */
      align-self: center;
    }
  
    sub {
      font-size: 14pt; /* Specify px for font-size */
      width: 60%;
      font-style: italic;
      font-weight: 300;
      font-family: "richmond-display", 'Times New Roman', serif;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0;
      text-align: center; /* Adjust alignment as needed */
      align-self: center;
    }
    
    hr {
      width: 50%;
      margin-bottom: 20px;
    }
    
    button {
      background-color: rgb(27, 27, 27); 
      border: none;
      color: white;
      font-family: "richmond-display", 'Times New Roman', serif;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border: 1px solid white;
      border-radius: 8px;
    }
    
    .textblock {
      padding-left: 20px;
    }
  
    .text{
      width: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-content: center;
      box-shadow: 0px 33px 35px -42px #121212;
      background-color: white;
      padding-bottom: 60px;
      justify-items: flex-start;
      align-self:center;
      margin-right: 40px;
      margin-left: 0px;
  
    }
  
    /* .text:nth-child(2){
      margin-right: 0px;
      margin-left: 40px;
  
    } */
    
    .ImageBox {
      display: flex;
      flex: 1 1;
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      margin: 20px;
      max-width: 100%;
      overflow: hidden;
      justify-content: center;
      max-height: 100%;
  
      
    }
  
  
  
  
    .casestudyimg {
      flex: 1;
      max-width: 42%;
      object-fit: contain;
      margin: 20px;
      border-bottom: 1px solid rgb(92,96,122);
      filter: drop-shadow(2px 6px 4px #00000060);

    }

    button:hover {
      background-color: rgb(54, 54, 54);
    }
    
    button:active {
      background-color: white;
      color: rgb(27, 27, 27);
      transform: translateY(2px);
      transition: 1s ease-in-out;
    }
    
    p {
      display: flex;
      flex-direction: column;
      width: 65%;
      /* margin: auto; */
      align-self: center;
      padding-bottom: 13pt;
      font-family: "acumin-pro-condensed", sans-serif;
      font-weight: 300;
      font-style: normal;
      line-height: 1.3;
      letter-spacing: 0.6px;
      font-size: 14pt;
      margin-top: 0;
   }

   #changes {
    justify-self: center;
    min-width: 120%;
    filter: none;
    border: none;
   }

    p a {
        color: purple;
        text-decoration: underline;
    }

    p em {
        font-size: 14pt;

    }

    .problemstatement {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid black;
        text-align: center;
        width: 50%;
        align-self: center;
        font-size: 20;
    }

    .text img {
        max-width: 60%;
        align-self: center;
        border-bottom: 1px solid rgb(92,96,122);
        filter: drop-shadow(2px 6px 4px #00000060);
        margin-bottom: 13pt;
    }
    
    h1 {
      margin: auto;
      padding-top: 75px;
      font-family: "richmond-display", 'Times New Roman', serif;
      font-weight: 700;
      font-style: normal;
      font-size: 60pt;
    }
    
    h2 {
      margin: auto;
      margin-bottom: 20pt;
      /* padding-top: 60px; */
      padding-bottom: 10px;
    
      font-family: "ivypresto-display", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 96pt;
      line-height: 0.9;
  
    }
  
    h3 {
      /* text-align: center; */
      margin: auto;
      padding-top: 60px;
      padding-bottom: 10px;
    
      font-family: "ivypresto-display", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40pt;
      width: 70%;
      align-self: center;
      margin-bottom: 40pt;
      border-bottom: 1px solid rgb(92,96,122);
  
    }
  
    span {
      font-family: "richmond-display", 'Times New Roman', serif;
      font-weight: 300;
      font-style: italic;
      font-size: 44;
      float: left;
      line-height: 55%;
      transform: translateY(5px);
      margin-right: 8px;
      margin-bottom: 4px;
    }
    
    /* uiohduohwauohdowah */
    .container {
      display: grid;
      grid-template-columns: 5% 90% 5%;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      justify-content: center;
      grid-template-areas:
        ". Content .";
      background: rgb(233, 234, 242);
    }
    
    .Content {
      grid-area: Content;
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    
    .topbar {
      grid-area: topbar;
      width: 100%;
      min-width: 120;
      display: flex;
      flex-direction: row-reverse;
      text-align: right;
      padding-top: 20px;
      padding-bottom: 20px;
      word-spacing: 20px;
      font-size: 14pt;
      /* background-color: black; */
      justify-self: end;
      justify-content: space-between;
    
    }
  
    a {
      color: black;
      transition: text-decoration 0.1s ease-in-out;
      text-decoration: none;
      text-underline-offset: 2px;
  
    }
    
    a:hover {
      color: purple;
      text-decoration: underline;
  
    }
    
    a:visited {
      color: black;
      text-decoration: none;
    }
  
    a:active {
      text-decoration: none;
      color: purple;
    }
  
    
    .Hero {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 80%;
      text-align: center;
    }
  
    .titletext {
      width: 45%;
      padding-right: 5%;
      border-right: 1px solid rgb(92,96,122);
    }
  
    .titletextsub {
        display: flex;
        flex-direction: row;
        justify-items: center;
        width:100%;
    }

    .titletextsub em {
        text-align: right;
        border-right: 1px solid black;
        padding: 16px;
        width: 50%;
    }
    
    .titletextsub em:nth-of-type(2){
        text-align: left;
        border: none;
    }
  
  
    .diagram {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* background: white; */
      /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
      padding: 20px;
      width: 50%;
    }
    
    #hero {
      display: flex;
      flex-direction: column;
      justify-self: center;
      margin-left: 10%;
      height: auto;
      max-width: 110%;
      float: right;
      filter: none;

    }
    
    .heroimg {
      /* margin-top: 60px; */
      /* margin-bottom: 40px; */
      width: 130%;
      height: 900px;
      object-fit: cover;
      object-position: 50% 0%;
      transition: object-position  6s ease-in-out;
  
      /* filter: drop-shadow(2px 6px 4px #00000060); */
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  
  
    }
  
    .heroimg.in-view {
      object-position: 50% 20.5%;
  
    }
  
    .heroimg.in-view2 {
      object-position: 50% 35.3%;
  
    }
  
    .heroimg.in-view3 {
      object-position: 50% 53%;
  
    }
  
    .heroimg.in-view4 {
      object-position: 50% 66%;
  
    }
  
    .heroimg.in-view5 {
      object-position: 50% 95.4%;
  
    }
  
    .heroimg.in-viewhome {
      object-position: 50% 0%;
  
    }
    
    .headline {
      grid-area: headline;
      width: 100%;
      height: auto;
      margin-top: 40px;
      
    }
    
    .subhead {
      grid-area: subhead;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
  
    .bottombar {
      grid-area: bottombar;
      height: 100px;
    }
  
    .Introduction {
      display: flex;
      flex-direction: row;
      width: 90%;
      justify-content: space-between;
    }
  
    /* .Introduction .ImageBox{
      min-width: 80%;
      z-index: 0;
    }
  
    .Introduction .text{
      z-index: 1;
      position: static;
      float: left;
    } */
  
  
    .Ideation {
      display: flex;
      flex-direction: row;
      width: 90%;
      /* align-items: center; */
    }

    .Ideation .Imagebox {
        flex-direction: column;
        justify-content: space-around;
        align-self: center;
        max-height: 80%;
    }
    
    .Ideation .Imagebox .casestudyimg {
        /* flex: 1; */
        max-width: 95%;
        object-fit: fit;
        border-bottom: none;
        filter: drop-shadow(2px 6px 4px #00000060);
    }
  
  
    /* #IdeationText{
      max-width: 70%;
      justify-self: center;
    } */
  
    .carousel {
      margin-top: 40px;
      text-align: center;
      min-height: 600px;
      max-width: 1000px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
    }
  
    .carousel em {
      font-size: 28pt;
      margin: none;
    }
  
    .carousel-caption {
      /* margin-top: 10px; */
      font-size: 12pt;
      font-style: italic;
      text-align: center;
      height: 49pt;
      width: 90%;
      border-top: 1px solid rgb(92,96,122);
      padding-top: 12pt;
    }
  
    .carousel-image {
      max-width: 90%;
      min-height: 600px;
      border-top: 1px solid rgb(92,96,122);
      padding-top: 12pt;
      display: flex;
      flex-direction: column;
      justify-items: center;
    }
    
    .carousel-image img {
      width: auto;
      height: 580px;
      /* max-width: 150%; */
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid rgb(92,96,122);
      align-self: center;
    }
    
    .carousel-bottom{
      width: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .carousel-controls {
      margin-top: 0px;
      max-width: 500px;
    }
    
    .carousel-controls button {
      display: inline-flex;
      width: 80px;
      height: 40px;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      margin: 5px;
      font-size: 20pt;
      border: none;
      border-radius: 5px;
      background-color: rgb(132, 141, 212);
      border-bottom: 1px solid rgb(92,96,122);
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .carousel-controls button:hover {
      background-color: rgb(113, 122, 184);
    }
    
    .carousel-dots {
      margin-top: 10px;
    }
    
    .carousel-dots .dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 5px;
      background-color: #bbb;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s;
      border-bottom: 1px solid rgb(92,96,122);
  
    }
    
    .carousel-dots .dot.active {
      background-color: rgb(132, 141, 212);
      
    }
  
  #titletextimg {
    display: flex;
    flex: 1 0;
    background-color: black;
    max-width: 60%;
    /* padding-top: 40px;
    padding-bottom: 40px; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: auto;
    filter: drop-shadow(2px 6px 4px #00000060);
  
  }
  
  .Prototyping {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  
  .Prototyping .ImageBox {
    
    height: fit-content;
    overflow:visible;
  }

  .Prototyping .text {
    width: 60%;
  }
  
  .scrollbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: flex-start;
    background-color: rgb(25,26,36);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .Prototyping .ImageBox .scrollbox img {
    width: 135%;
    filter: none;
  
  }
  
  .FinalPrototype{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
  }

  .FinalFinalPrototype{
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
  }


  #sketch {
    min-width: 60%;
  }
  